div.values {
    margin-bottom: 1em;
    margin-left: 0.1em;
    display: flex;
}

div.values label {
    margin-top: 0.2em;
    width: 120px;
}

div.values select {
    margin-left: -9px;
}

div.values input {
    width: 100%;
}

div.button {
    float: right;
}

@media (max-width: 800px) {
    div.values select {
        margin-left: -16px;
    }
}

@media (max-width: 500px) {
    div.values select {
        margin-left: -25px;
    }
}

