<h1>Aareon Angular Test</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <div class="values">
      <label for="title">Title</label>
      <select formControlName="title">
        <option value="">-- Select an option --</option>
        <option id="title" name="title" *ngFor="let title of titles;" [ngValue]="title.name">
          {{ title.name }}
      </select>
    </div>
    <div class="values">
      <label for="firstName">First name</label>
      <input id="firstName" name="firstName" type="text" placeholder="First name" formControlName="firstName"/>
    </div>
    <div class="values">
      <label for="lastName">Last name</label>
      <input id="lastName" name="lastName" type="text" placeholder="Last name"  
        formControlName="lastName"  [ngClass]="(form.invalid && form.controls['lastName']?.touched) ||
        (submitted && form.invalid) ? 'is-invalid' : ''" required/>
    </div>
    <div *ngIf="(form.invalid && form.controls['lastName']?.touched) ||
      (submitted && form.invalid)"  class="is-invalid">
        *Last name is mandatory.
    </div>
    <span></span>
    <div>
      <input id="acceptTerms" name="acceptTerms" type="checkbox" (change)="isChecked()" formControlName="acceptTerms"/>
      <label>I accept the terms & conditions</label>
    </div>
    <div class="button">
      <button type="submit" [disabled]="disabled">Submit</button>
    </div>
  </div>
</form>