<h1>Aareon Angular Test</h1>
<form #testForm="ngForm" (ngSubmit)="onSubmit(testForm.value)">
  <div>
    <div class="values">
      <label>Title</label>
      <select name="title" [(ngModel)]="title">
        <option value="">-- Select an option --</option>
        <option *ngFor="let title of titles;">
          {{ title.name }}
      </select>
    </div>
    <div class="values">
      <label>First name</label>
      <input type="text" placeholder="First name" name="firstName" [(ngModel)]="firstName"/>
    </div>
    <div class="values">
      <label>Last name</label>
      <input type="text" required placeholder="Last name" name="lastName" [(ngModel)]="lastName"/>
    </div>
    <!-- TODO: add error message -->
    <span></span>
    <div>
      <input type="checkbox" name="acceptTerms" [(ngModel)]="acceptTerms"/>
      <label>I accept the terms & conditions</label>
    </div>
    <div class="button">
      <button type="submit" [disabled]="!acceptTerms" >Submit</button>
    </div>
  </div>
</form>